.container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding:25px;
}

.inputContainer{
  padding:10px 10px;
  flex-direction:row;
  width: 100%;
  padding: 25px 25px;
  margin: 8px 8px;
  display: inline-block;
}
.inputContainer input{
  padding:15px 80px;
  width:80%;
  margin: 5px 25px;
  border: 1px solid lightslategray;
  border-radius:6px;
  text-align: center;
  font-size: 16px;
}

.inputContainer input:focus{
  outline: none;
}
.inputContainer button{
  margin: auto;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  display: inline-block;
}

p {
  font-size:30px;
  font-weight:200;
}

.weather-data{
  margin-top: 100px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.city{
  font-size:30px;
  font-weight:200;
}
.temp{
  font-size:30px;
  font-weight:200;
}
.weather{
  font-size:30px;
  font-weight:200;
}

.weather-forecast{
  margin-top: 100px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
}

.button1 {
  padding: 16px 32px;
  text-align: center;
  margin: 25px 25px;
  background-color: white;
  transition-duration: 0.4s;
  color: black;
  border: 2px solid #e7e7e7;
  
}

.button1:hover {background-color: #e7e7e7;}




